#activate_barcode {
    position: absolute;
    right: 25px;
    cursor: pointer;
    top: 23px;
}

#reader_outer {
    z-index:1;
    background-color: white !important;
    position: fixed !important;
    top: 41px;
    left: 50%;
    width: 500px;
    margin-left: -250px;
    height: auto;
}

@media only screen and (max-width: 500px) {
  #reader_outer {
        width: 100%;
        margin-left: -50%;
    }
}

#reader {
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
}

#close_dialog {
    display: block;
    width:100%;
    margin-bottom: 1px;
}
